[submodule "pygeotools"]
	path = pygeotools
	url = https://github.com/dshean/pygeotools/
[submodule "demcoreg"]
	path = demcoreg
	url = https://github.com/dshean/demcoreg/
[submodule "georaster"]
	path = georaster
	url = https://github.com/dlilien/georaster/
