[submodule "pygeotools"]
	path = pygeotools
	url = ./pygeotools/
[submodule "demcoreg"]
	path = demcoreg
	url = https://github.com/dshean/demcoreg/
[submodule "georaster"]
	path = georaster
	url = https://github.com/atedstone/georaster 
